---
import Layout from '../layouts/Layout.astro';
import AboutMe from '../components/sections/AboutMe.astro';
import Technologies from '../components/sections/Technologies.astro';
import Projects from '../components/sections/Projects.astro';
import AcademicRecord from '../components/sections/AcademicRecord.astro';
import Contact from '../components/sections/Contact.astro';

---

<Layout title="Welcome">
	<main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
		<AboutMe/>
		<AcademicRecord/>
		<Projects/>
		<Technologies/>
		<Contact/>
	</main>
</Layout>